<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>GenG4</string>
      </array>
      <key>CFBundleURLName</key>
      <string>Geant4 Generator</string>
    </dict>
  </array>
  <key>Author</key>
  <string>QianLIU</string>
</dict>
</plist>
